---
import BlogLayout from '../layouts/BlogLayout.astro';
import SiteHeader from '../components/blog/SiteHeader.astro';
---

<BlogLayout title="Tobias Fu" description="Tobias Fu's personal website">
  <div class="blog-container">
    <SiteHeader currentPage="home" />

    <main class="home-content">
      <div class="home-title-wrapper">
        <div class="title-stack title-stack-3"></div>
        <div class="title-stack title-stack-2"></div>
        <h1 class="home-title">
          <span class="name-first">Tobias</span>
          <span class="name-last">Fu</span>
        </h1>
      </div>
    </main>
  </div>
</BlogLayout>

<style>
  .home-content {
    margin-top: var(--space-3xl);
  }

  .home-title-wrapper {
    position: relative;
    display: inline-block;
    perspective: 800px;
  }

  .home-title {
    font-family: 'Bodoni Moda', Georgia, serif;
    font-style: italic;
    font-size: clamp(3.5rem, 10vw, 6rem);
    font-weight: 600;
    letter-spacing: -0.02em;
    color: var(--color-text);
    transform: rotateY(-12deg);
    transform-origin: right center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 0.85;
    background: white;
    border: 3px solid black;
    padding: 1em 1.5em;
    position: relative;
    z-index: 3;
  }

  .title-stack {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    border: 3px solid black;
    transform: rotateY(-12deg);
    transform-origin: right center;
  }

  .title-stack-2 {
    transform: translate(20px, 20px) rotateY(-12deg);
    z-index: 2;
  }

  .title-stack-3 {
    transform: translate(40px, 40px) rotateY(-12deg);
    z-index: 1;
  }

  .name-first {
    display: block;
  }

  .name-last {
    display: block;
    margin-left: 3em;
    margin-top: 0.3em;
  }
</style>
