---
interface Props {
  title: string;
  description?: string;
}

const { title, description = 'A blog by Tobias Fu' } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/blog/rss.xml" />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @import '../styles/blog.css';
</style>
